<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
    kofiWidgetOverlay.draw('findemor', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': '¿Me invitas a un café?',
    'floating-chat.donateButton.background-color': '#00bfa5',
    'floating-chat.donateButton.text-color': '#fff'
    });
</script>
<style>
    div.floatingchat-container-wrap,
    div.floatingchat-container-wrap-mobi {
        z-index: 9998 !important;
    }

    iframe.floatingchat-container,
    iframe.floatingchat-container-mobi {
        width: auto !important;
    }
</style>