<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
    kofiWidgetOverlay.draw('findemor', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': '¿Me invitas a un café?',
    'floating-chat.donateButton.background-color': '#00bfa5',
    'floating-chat.donateButton.text-color': '#fff'
    });

    /*
    //en el caso de los moviles, solo cargamos el boton cuando no está en la pantalla el consentimiento de cookies
    window.addEventListener("load", function(){
        var cookiepopup = document.querySelectorAll('[aria-label="cookieconsent"]');
        if (cookiepopup && cookiepopup.length > 0 && cookiepopup[0].style.display != "none") {
            //se esta mostrando el popup
            
            //ocultamos kofi version movil hasta que se acepte el consentimiento
            var kofi = document.getElementsByClassName("floatingchat-container-wrap-mobi");
            let displayStatus, mobileVersionEnabled;
            if (kofi && kofi.length > 0) {
                mobileVersionEnabled = true;
                displayStatus = kofi[0].style.display;
                console.log("kofi mobile state saved: " + displayStatus);
                kofi[0].style.display = "none";
            } else {
                console.log("kofi mobile not enabled");
            };

            //si se pulsa el consentimiento, mostramos kofi version movil
            var cookiebutton = document.querySelectorAll("div.cc-compliance")[0];
            cookiebutton.addEventListener('click', function(e) {
                setTimeout(function() {
                    if (mobileVersionEnabled) {
                        kofi[0].style.display = displayStatus; 
                        console.log("kofi mobile restablecido: " + kofi[0].style.display);
                    }
                }, 20000); //le damos un tiempo antes de que se muestre el boton... es la primera visita
            }, false);
        }
    });
    */


</script>
<style>
    div.floatingchat-container-wrap,
    div.floatingchat-container-wrap-mobi {
        z-index: 9998 !important;
    }

    iframe.floatingchat-container,
    iframe.floatingchat-container-mobi {
        width: auto !important;
    }
</style>